################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AGM.Web/bin
/AGM.Web/obj/Debug
/packages
