body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

.logo {
    margin: 10px 15px;
}

.logo img{
    width: 86px;
}

.container-header {
    border-bottom: 1px solid #C4C4C4;
    background-color: #ffffff;
}

.body-content {
    margin: 35px auto;
    padding: 0 15px;
}

.alert-material {
  position: fixed;
  left: 12px;
  top: 12px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #003cfd;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.login-control {
    display: block;
    margin: auto;
}

.login-title {
    text-align: center;
    margin: 0 0 15px;
}

.simpleLink {
    cursor: pointer;
}

.nameListElement {
  margin: 0 5px 10px;
  text-align: left;
  padding: 0;
}

.nameListLetterHead {
    border-bottom: 1px solid #E8E8E8;
    margin: 5px 0 10px;
    font-weight: bold;
    color: #B0B0AE;
}

.nameListElement div {
    display: inline-block;
}

.nameListElement img {
    vertical-align: top;
}

.nameListElement div span {
    display: block;
}

.person-name{
    font-size: 12px;
}

.company-name{
    font-size: 9px;
}

.login-group {
    display:inline-block;
    float:none;
}

.row-centered {
    text-align: center;
}