body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

.logo {
    margin: 10px 15px;
}

.logo img{
    width: 86px;
}

.container-header {
    border-bottom: 1px solid #C4C4C4;
    background-color: #ffffff;
}

.body-content {
    margin: 35px auto;
    padding: 0 15px;
}

.alert {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    display: inline-block;
    min-height: 28px;
    padding: 5px 24px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
    
    cursor: default;
    border-radius: 2px;
    outline: none;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
}

.alert-error {
    color: #ffffff;
    background-color: rgba(255,0,0,0.5);
}

.alert-info {
    color: #ffffff;
    background-color: rgba(0, 110, 255, 0.5);
}

.alert-warning {
    color: #000000;
    background-color: rgba(255, 252, 0, 0.5);
}

.alert > span {
    display: inline-block;
    margin-top: 5px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.login-control {
    display: block;
    margin: auto;
}

.login-title {
    text-align: center;
    margin: 0 0 15px;
}

.simpleLink {
    cursor: pointer;
}

.nameListElement {
  margin: 0 5px 10px;
  text-align: left;
  padding: 0;
}

.nameListLetterHead {
    border-bottom: 1px solid #E8E8E8;
    margin: 5px 0 10px;
    font-weight: bold;
    color: #B0B0AE;
}

.nameListElement div {
    display: inline-block;
}

.nameListElement img {
    vertical-align: top;
}

.nameListElement div span {
    display: block;
}

.person-name{
    font-size: 12px;
}

.company-name{
    font-size: 9px;
}

.login-group {
    display:inline-block;
    float:none;
}

.row-centered {
    text-align: center;
}

.monthlyRep-detail {
    position: relative;
    display: inline;
}

.sign {
    color: rgba(163, 163, 163, 0.5);
    cursor: pointer;
    font-size: 52px;
    margin-bottom: 30px;
}

.detailUserName {
    padding-left: 15px;
}

.reportRow {
    display: block;
    background-color: #ffffff;
    margin: 0;
}

.reportHolidayRow {
    background-color: #94BFDA;
}

.reportHeader {
    background-color: #808080;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 18px;
    border-style: solid;
    border-color: #65523A;
    border-width: 1px 0 1px 1px;
    padding: 0 1px;
    text-align: center;
}

.reportHeaderLast {
    border-width: 1px 1px 1px 1px;
}

.reportColumn {
    border-style: solid;
    border-color: #65523A;
    border-width: 0 0 1px 1px;
    font-size: 12px;
    padding: 0 1px;
}

.reportColumnNumeric {
    text-align: right;
}

.reportList {
    padding: 0 15px;
}

.reportColumnFirst {

}

.reportColumnLast {
    border-width: 0 1px 1px 1px;
}

.inputDatePicker {
    cursor: pointer !important;
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}


.monthlyRep {
    position: relative;
}

.monthlyRep-users {
    position: absolute;
    display:inline-block;
    width:100%;
}

.monthlyRep-users.ng-hide-add {
    -webkit-animation:0.5s exit_left linear; 
    animation:0.5s exit_left linear; 
}

.monthlyRep-users.ng-hide-remove { 
    -webkit-animation:0.5s enter_left linear; 
    animation:0.5s enter_left linear; 
}

.monthlyRep-detail{
    position: absolute;
    display:inline-block;
    width: 100%;
}

.monthlyRep-detail.ng-hide-add {
    -webkit-animation:0.5s exit_right linear; 
    animation:0.5s exit_right linear; 
}

.monthlyRep-detail.ng-hide-remove { 
    -webkit-animation:0.5s enter_right linear; 
    animation:0.5s enter_right linear; 
}

@-webkit-keyframes enter_left {
  from { left:-100%;opacity:1; }
  to { left:0; opacity:1; }
}
@keyframes enter_left {
  from { left:-100%;opacity:1; }
  to { left:0; opacity:1; }
}

@-webkit-keyframes enter_right {
  from { left:100%;opacity:1; }
  to { left:0; opacity:1; }
}
@keyframes enter_right {
  from { left:100%;opacity:1; }
  to { left:0; opacity:1; }
}

@-webkit-keyframes exit_left {
  from { left:0;opacity:1; }
  to { left:-100%; opacity:1; }
}
@keyframes exit_left {
  from { left:0;opacity:1; }
  to { left:-100%; opacity:1; }
}

@-webkit-keyframes exit_right {
  from { left:0;opacity:1; }
  to { left:100%; opacity:1; }
}
@keyframes exit_right {
  from { left:0;opacity:1; }
  to { left:100%; opacity:1; }
}

