<a id="reportTop" class="reportTop"></a>
<div class="breadcrumb hidden-xs hidden-sm" style="display: table;">
    <div class="pageHeader_pageTitle">
        <span ng-show="user.id != 0">Profilo</span>
        <span ng-hide="user.id != 0">Nuovo profilo</span>
        <span class="pageHeader_subtitle" ng-hide="backToUsersVisible">profilo personale</span>
        <span class="pageHeader_subtitle" ng-show="backToUsersVisible">profilo utente</span>
    </div>
    <div class="pageHeader_breadCrumb" ng-hide="backToUsersVisible"><a class="pageHeader_breadCrumbLink" ui-sref="Root.Index">Home</a> > Profilo</div>
    <div class="pageHeader_breadCrumb" ng-show="backToUsersVisible"><a class="pageHeader_breadCrumbLink" ui-sref="Root.Index">Home</a> > <a class="pageHeader_breadCrumbLink" ui-sref="Root.Users">Utenti</a> > Profilo utente</div>
</div>
<div class="monthlyRep" style="margin: -10px -15px;" ng-cloak>
    <div class="hidden-print mr_affixToolContainer" role="complementary" data-offset-top="235" bs-affix ng-hide="applicationGlobals.showMainMenu">
        <div class="container container-header">
            <i class="fa fa-arrow-circle-o-left signAffix" ng-show="backToUsersVisible" ng-click="backToUsers()"></i>
            <i class="fa fa-trash-o signAffix" ng-show="deleteUserVisible" ng-click="deleteUser()"></i>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="userDetail-detail" style="margin:10px;padding-left:15px;padding-right:15px;">
        <div class="hidden-xs hidden-sm">
            <div style="display:inline-block">
                <i class="fa fa-arrow-circle-o-left sign" ng-show="backToUsersVisible" ng-click="backToUsers()"></i>
            </div>
            <div class="toolContainer" style="display:inline-block">
                <i class="fa fa-trash-o sign" ng-show="deleteUserVisible" ng-click="deleteUser()"></i>
            </div>
        </div>
        <hr />
        <form name="profileForm" novalidate>
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="fileDropAreaAvatar" style="margin: 0 0 20px;">
                            <div class="fileUpload uploadButton">
                                <i class="fa fa-upload" style="font-size:20px;margin:5px;"></i>
                                <!--<span style="font-size:0.8em;">Cambia...</span>-->
                                <input type="file" name="file" accept="image/*" class="custom-file-input" nv-file-select uploader="uploader" filters="sizeFilter">
                            </div>
                            <img ng-src="{{user.image}}" alt="" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="functionList" ng-show="currentUser.sectionusersvisible">
                            <label>Attivo</label>
                            <input type="checkbox" ng-model="user._isactive" toggle-switch>
                            <div class="clearfix"></div>
                        </div>
                        <div class="functionList" ng-show="currentUser.sectionusersvisible">
                            <div class="col-xs-12 col-sm-3 functionList" style="padding:0px;">
                                <label>ID Export</label>
                            </div>
                            <div class="col-xs-12 col-sm-9 functionList" style="padding:0px;">
                                <input type="number" class="form-control" ng-model="user.idexport">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="functionList" ng-show="currentUser.isadmin">
                            <div class="col-xs-12 col-sm-3 functionList" style="padding:0px;">
                                <label>Tipo Utente</label>
                            </div>
                            <div class="col-xs-12 col-sm-9 functionList" style="padding:0px;">
                                <button type="button" class="btn btn-default btnFill" ng-model="user._usertype" ng-change="changeUserType()" bs-options="usertype.id as usertype.name for usertype in user.usertypes" bs-select>
                                    Action <span class="caret"></span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="functionList" ng-show="currentUser.isadmin">
                            <label>Turnista</label>
                            <input type="checkbox" ng-model="user._isshiftworker" toggle-switch>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <label class="profileFormLabel">Email</label><input required class="form-control" type="email" placeholder="Email" ng-model="user.email" maxlength="100" />
                        <label class="profileFormLabel">Cognome</label><input required class="form-control" type="text" placeholder="Cognome" ng-model="user.lastname" maxlength="50" />
                        <label class="profileFormLabel">Nome</label><input required class="form-control" type="text" placeholder="Nome" ng-model="user.firstname" maxlength="50" />
                        <label class="profileFormLabel">Password</label><input type="password" required class="form-control" placeholder="Password" ng-model="user.password" maxlength="50" />
                        <br />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div ng-show="currentUser.ishr || currentUser.isadmin">
                            <div>
                                <h4 style="float: left;">
                                    <i class="fa settingsSectionTitleCaret" ng-click="permissionItemConfCollapse()" ng-class="{'fa-caret-right': isPermissionItemConfCollapsed, 'fa-caret-down': !isPermissionItemConfCollapsed}"></i>
                                    Permessi
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-class="{'collapse': isPermissionItemConfCollapsed, 'collapse in': !isPermissionItemConfCollapsed}">
                                <div class="functionList" ng-show="currentUser.ishr || currentUser.isadmin">
                                    <label>Gestione rapportini</label>
                                    <input type="checkbox" ng-model="user._sectionmonthlyreportsvisible" toggle-switch>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="functionList" ng-show="currentUser.isadmin">
                                    <label>Gestione utenti/collaboratori</label>
                                    <input type="checkbox" ng-model="user._sectionusersvisible" toggle-switch>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="functionList" ng-show="currentUser.isadmin">
                                    <label>Gestione annunci</label>
                                    <input type="checkbox" ng-model="user._sectionjobadsvisible" toggle-switch>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="functionList" ng-show="currentUser.isadmin">
                                    <label>Gestione candidati</label>
                                    <input type="checkbox" ng-model="user._sectionjobapplicantsvisible" toggle-switch>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="functionList" ng-show="currentUser.isadmin">
                                    <label>Cancellazione candidati</label>
                                    <input type="checkbox" ng-model="user._candeletejobapplicants" toggle-switch>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="functionList" ng-show="currentUser.isadmin">
                                    <label>Esportazione dati</label>
                                    <input type="checkbox" ng-model="user._sectionexportvisible" toggle-switch>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="functionList" ng-show="currentUser.isadmin">
                                    <label>Invio messaggi</label>
                                    <input type="checkbox" ng-model="user._cansendmessage" toggle-switch>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div ng-show="currentUser.isadmin">
                            <div>
                                <h4 style="float: left;">
                                    <i class="fa settingsSectionTitleCaret" ng-click="retributionItemConfCollapse()" ng-class="{'fa-caret-right': isRetributionItemConfCollapsed, 'fa-caret-down': !isRetributionItemConfCollapsed}"></i>
                                    Voci retributive
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-class="{'collapse': isRetributionItemConfCollapsed, 'collapse in': !isRetributionItemConfCollapsed}">
                                <div class="functionList" ng-show="currentUser.sectionusersvisible" ng-repeat="item in user.retributionitemconfiguration">
                                    <label ng-bind="retributionItemTypeEnumNames[item.type]"></label>
                                    <input type="checkbox" ng-model="user.retributionitemconfiguration[$index].enablevalue" toggle-switch>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group bottomButton">
                    <button ng-hide="profileForm.$invalid || userExists===true" class="btn btn-info" ng-click="save()">Salva</button>
                    <button ng-show="profileForm.$invalid || userExists===true" class="btn btn-info" disabled="disabled">Salva</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
