<div class="breadcrumb hidden-xs hidden-sm" style="display: table;">
    <div class="pageHeader_pageTitle">
        <span>Annunci</span>
        <span class="pageHeader_subtitle">posizioni aperte</span>
    </div>
    <div class="pageHeader_breadCrumb"><a class="pageHeader_breadCrumbLink" ui-sref="Index">Home</a> > Annunci</div>
</div>
<div class="monthlyRep" ng-cloak>
    <div ng-hide="isJobAdDetail">
        <a id="pageTop" class="reportTop"></a>
        <div class="hidden-print mr_affixToolContainer" role="complementary" data-offset-top="235" bs-affix>
            <div class="container container-header">
                <i class="fa fa-plus-circle signAffix" ng-click="insert()"></i>
                <i class="fa fa-check-square-o signAffix" ng-click="selectionToggle()"></i>
                <i class="fa fa-trash-o signAffix" ng-show="thereAreSelected()" ng-click="deleteSelected()"></i>
            </div>
        </div>
        <h3 class="section-title login-control">Annunci</h3>

        <div>
            <div class="col-xs-12 col-md-3 form-group" style="display:none;">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="hidden-xs hidden-sm toolContainer">
                <i class="fa fa-trash-o sign" ng-show="thereAreSelected()" ng-click="deleteSelected()"></i>
                <i class="fa fa-check-square-o sign" ng-click="selectionToggle()"></i>
                <i class="fa fa-plus-circle sign" ng-click="insert()"></i>
            </div>
            <div class="clearfix"></div>
            
            <div class="col-xs-12 col-md-4 btn-group">
                <input class="form-control" type="text" ng-model="search" placeholder="Ricerca..." />
                <span class="input-inner-icon" ng-click="eraseSearch()"><i class="fa fa-times"></i></span>
            </div>
            <div class="col-xs-12 col-md-3 input-group">
                <div class="input-group-addon">Ordinamento:</div>
                <button type="button" class="btn btn-default" ng-model="orderField" ng-options="order.value as order.label for order in orderOptions" bs-select>
                    Action <span class="caret"></span>
                </button>
            </div>
            <div class="clearfix"></div>

            <div class="placeholderText" ng-show="jobAdsFiltered.length == 0" ng-bind="'Non ci sono elementi contenenti \'' + search + '\'.'">Non sono presenti elementi con i criteri di ricerca</div>
            <div class="baseTable2">
                <div class="row" ng-class="{odd: $odd, selected: jobAd._selected}" ng-repeat="jobAd in jobAdsCollection | filter:search:false | orderBy:getOrder():isOrderDesc() as jobAdsFiltered" ng-click="goToDetail(jobAd.id)">
                    <div class="rowHoverIndicator"></div>
                    <div class="col-xs-12 col-md-8">
                        <input style="vertical-align: middle; margin: 0 4px; height: 28px;" type="checkbox" ng-model="jobAd._selected" ng-click="$event.stopPropagation()" />
                        <span style="font-weight:bold" ng-bind="jobAd.title"></span>
                        <span ng-bind="' - ' + jobAd.description"></span>
                    </div>
                    <div class="col-xs-12 col-md-1" ng-bind="jobAd.location"></div>
                    <div class="col-xs-12 col-md-2">
                        <span ng-bind="jobAd.datefromraw"></span>
                        <span ng-bind="' - '"></span>
                        <span ng-bind="jobAd.datetoraw"></span>
                        <i class="fa fa-exclamation-circle" ng-class="{jobAdAlmostExpired: jobAd.almostexpired, jobAdExpired: jobAd.expired}" ng-show="jobAd.expired || jobAd.almostexpired"></i>
                    </div>
                    <div class="col-xs-12 col-md-1" ng-bind="jobAd.refcode"></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div agm-footer></div>
        </div>
    </div>
    
    <div ui-view="ja_detail"></div>

    <div class="loading" ng-show="loading"></div>
</div>


