<div ng-controller="authentication">
    <h3 class="login-title login-control">Login area riservata</h3>
    <div class="row row-centered">
        <div class="form-group col-xs-12 col-md-4 login-group">
            <input class="login-control form-control" type="text" ng-model="username" placeholder="Username" />
        </div>
    </div>
    <div class="row row-centered">
        <div class="form-group col-xs-12 col-md-4 login-group">
            <input class="login-control form-control" type="password" ng-model="password" placeholder="Password" />
        </div>
    </div>
    <div class="row row-centered">
        <div class="form-group col-xs-12 col-md-4 login-group">
            <input class="login-control btn btn-info" type="button" value="Login" ng-click="authenticate()" />
        </div>
    </div>
</div>
