

<div class="container-fluid">
    <div class="col-md-12 container" style="width:100%;">
        <div id="accordion" class="row panel-group">
            <div id="panel_0" ng-show="showAddNotice" class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="noticeCollapse(0)" style="cursor:pointer;">
                        <h4 class="panel-title">
                            <span>Inserisci Comunicazione</span>
                        </h4>
                    </div>
                    <div id="collapse_0" ng-class="{'panel-collapse collapse': isNoticeCollapsed['0'], 'panel-collapse collapse in': !isNoticeCollapsed['0']}">
                        <div class="panel-body">
                            <form name="profileForm" novalidate>
                                <input required class="form-control" type="text" placeholder="Oggetto" ng-model="noticeToAdd.subject" />
                                <summernote height="300" ng-model="noticeToAdd.text"></summernote>
                                <div class="pull-right" style="padding-top:15px;">
                                    <button ng-hide="profileForm.$invalid" class="btn btn-info" ng-click="addNotice()">Inserisci</button>
                                    <button ng-show="profileForm.$invalid" class="btn btn-info" disabled="disabled">Inserisci</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="panel_{{notice.id}}" data-ng-repeat="notice in notices" ng-if="1==1" class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="noticeCollapse(notice.id)" style="cursor:pointer;">
                        <h4 class="panel-title">
                            <span>{{notice.subject}}</span>
                        </h4>
                    </div>
                    <div id="collapse_{{notice.id}}" ng-class="{'panel-collapse collapse': isNoticeCollapsed[notice.id.toString()], 'panel-collapse collapse in': !isNoticeCollapsed[notice.id.toString()]}">
                        <div class="panel-body">
                            <div ng-bind-html="notice.text">

                            </div>
                            <div>
                                <i class="fa fa-trash-o signAffix pull-right" ng-show="showAddNotice" ng-click="deleteNotice(notice.id)"></i>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>



