body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

.logo {
    /*margin: 10px 15px;*/
    line-height: 50px;
}

.logo img{
    width: 86px;
}

.container-header {
    border-bottom: 1px solid #C4C4C4;
    background-color: #ffffff;
}

.body-content {
    margin: 35px auto;
    padding: 0 15px;
}

.alert {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    display: inline-block;
    min-height: 28px;
    padding: 5px 24px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
    
    cursor: default;
    border-radius: 2px;
    outline: none;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
}

.alert-error {
    color: #000000;
    font-weight: bold;
    background-color: rgba(255,0,0,0.85);
}

.alert-info {
    color: #000000;
    font-weight: bold;
    background-color: rgba(0, 110, 255, 0.85);
}

.alert-warning {
    color: #000000;
    font-weight: bold;
    background-color: rgba(255, 252, 0, 0.85);
}

.alert-confirm_autocomplete {
    color: #000000;
    font-weight: bold;
    background-color: rgba(255, 156, 28, 0.85);
}

.alert > span {
    display: inline-block;
    margin-top: 5px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.login-group {
    width: 100%;
    text-align :center;
}

.login-innerGroup {
    -moz-min-width: 100px;
    -ms-min-width: 100px;
    -o-min-width: 100px;
    -webkit-min-width: 100px;
    min-width: 100px;
    max-width: 350px;
    margin: auto;
}

.login-control {
    margin: 5px;
}

.login-title {
    text-align: center;
    margin: 0 0 30px;
}

.simpleLink {
    cursor: pointer;
}

.nameListElement {
  margin: 0 5px 10px;
  text-align: left;
  padding: 0;
}

.nameListLetterHead {
    border-bottom: 1px solid #E8E8E8;
    margin: 5px 0 10px;
    font-weight: bold;
    color: #B0B0AE;
}

.nameListElement div {
    display: inline-block;
}

.nameListElement img {
    vertical-align: top;
}

.nameListElement div span {
    display: block;
}

.person-name{
    font-size: 12px;
    font-weight: bold;
}

.company-name{
    font-size: 9px;
}

.row-centered {
    text-align: center;
}

.monthlyRep-detail {
    position: relative;
    display: inline;
}

.asideRight {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1049;
    overflow: auto;
    width: 290px;
    background: #fff;
}

.asideRight.ng-hide-add {
    -webkit-animation:0.5s hide_to_right linear; 
    animation:0.5s hide_to_right linear; 
}

.asideRight.ng-hide-remove { 
    -webkit-animation:0.5s show_from_right linear; 
    animation:0.5s show_from_right linear; 
}

@-webkit-keyframes show_from_right {
  from { right:-100%;opacity:1; }
  to { right:0; opacity:1; }
}
@keyframes show_from_right {
  from { right:-100%;opacity:1; }
  to { right:0; opacity:1; }
}

@-webkit-keyframes hide_to_right {
  from { right:0;opacity:1; }
  to { right:-100%; opacity:1; }
}
@keyframes hide_to_right {
  from { right:0;opacity:1; }
  to { right:-100%; opacity:1; }
}

.asideTitleContainer {
    border-bottom: 1px solid #E5E5E5;
    min-height: 16.43px;
    padding: 6px 15px;
    background: #428BCA;
    color: #FFF;
}

.asideTile {
    float: left;
}

.asideCloseIcon {
    cursor: pointer;
    float: right;
}

.asideBodyContainer {
    padding: 10px;
}

.asideErrorInput {
    position: absolute;
    top: 10px;
    left: -3px;
    color: #A94442;
    cursor: pointer;
}

.asideinsertNote {
    resize: none;
}

.datepicker {
    left: 0 !important;
}

.controlMinSeparated {
    margin-top: 5px;
}

.btnFill {
    text-align: left;
    width: 100%;
}

.reportTop {
    display: block; position: relative; top: -85px; visibility: hidden;
}

.reportSummary {
    padding: 15px;
    font-size: 12px;
}

.reportSummaryRow {
    display: block;
}

ul.typeahead li a {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 248px;
}

ul.typeahead {
    overflow: hidden;
}

.modalBg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1040;
    background: rgba(0, 0, 0, 0.5);
}

/* Absolute Center CSS Spinner */
.loading {
  position: fixed;
  z-index: 1040;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loadingAbs {
    position: absolute !important;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modalBg.ng-hide-add {
    -webkit-animation:0.3s hide_background linear; 
    animation:0.3s hide_background linear; 
}

.modalBg.ng-hide-remove { 
    -webkit-animation:0.15s show_background linear; 
    animation:0.15s show_background linear; 
}

@-webkit-keyframes show_background {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes show_background {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes hide_background {
    0%   {opacity:1;}
    25%  {opacity:1;}
    50%  {opacity:1;}
    75%  {opacity:1;}
    100% {opacity:0;}
}
@keyframes hide_background {
    0%   {opacity:1;}
    25%  {opacity:1;}
    50%  {opacity:1;}
    75%  {opacity:1;}
    100% {opacity:0;}
}


.sign {
    margin: 0 0 5px 20px;
    color: rgba(163, 163, 163, 0.5);
    cursor: pointer;
    font-size: 52px;
}

.signAffix {
    vertical-align: middle;
    margin: 0 0 5px 20px;
    color: rgba(163, 163, 163, 0.5);
    cursor: pointer;
    font-size: 40px;
    line-height: 50px;
}

.umSign {
    margin-right: 5px;
}

.toolContainer {
    padding: 0 15px;
    float: right;
}

.mr_affixToolContainer.affix {
    z-index: 1000;
    top: 50px !important;
    left: 0;
    width: 100% !important;
    background-color: #FFF;
}

.mr_affixToolContainer.affix .container {
    height: 50px;
}

.mr_affixToolContainer.affix-top {
    display: none;
}

.detailUserName {
    margin: 10px 0;
    padding-left: 15px;
    display: table;
}

.reportRow {
    display: block;
    background-color: #ffffff;
    margin: 0;

    overflow: hidden;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #65523A;
}

.reportList .reportRow:last-child {
    border-width: 0; 
}

.reportHolidayRow {
    background-color: #94BFDA;
}

.reportHeader {
    background-color: #808080;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 18px;
    border-style: solid;
    border-color: #65523A;
    border-width: 0 0 0 1px;
    padding: 0 1px;
    text-align: center;
}

.reportRow .reportHeader:first-child {
    border-width:0;
}

.reportHeaderLast {
    border-width: 1px 1px 0 1px;
}

.reportColumn {
    border-style: solid;
    border-color: #65523A;
    border-width: 0 0 1px 1px;
    font-size: 12px;
    padding: 0 1px;

    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.cellHeaderColumnRight {
    float: right;
    font-size: 12px;
    margin-left: 10px;
}

.cellHeaderColumnLeft {
    float: left;
    font-size: 12px;
}

.reportRow .reportColumn:first-child {
    border-width: 0;
}

.reportColumnNumeric {
    text-align: right;
}

.reportList {
    margin: 0 15px;
    border-width: 1px 1px;
    border-style: solid;
    border-color: #65523A;
}

.reportListHeader {
    background-color: #808080;
}

.reportColumnLast {
    border-width: 0 1px 1px 1px;
}

.reportBadgeContainer {
    display: block;
}

.reportBadge {
    position: relative;
    z-index: 15;
    display: inline-block;
    margin: 2px 0;
    height: 17px;
}

.noteContainer {    
    /*display: table-row !important;*/
    display: table;
    margin-top: 2px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #5A5A5A;
}

.noteSection {
    -moz-word-break: break-word;
    -o-word-break: break-word;
    word-break: break-word;
    display: table-cell;
    vertical-align: middle;
}

.noteText {
    padding: 2px 5px 4px;
    /*font-size: 10.5px;*/
    margin-right: 4px;
    font-family: Verdana;
    font-size: 0.87em;
    line-height: 1.2em;
    letter-spacing: 0;
    text-align: left;
    word-spacing: normal;
    text-decoration: none;
    color: #444;
    /*background-color: #fff;*/
}

.actionStrip {
    color: #FFF;
    z-index: 20;
    margin-right: -5px;
    position: relative;
    height: 17px;
    /*display: inline-block;*/
    /*background-color: #5A5A5A;*/
}

.actionStripLeft {
    color: #FFF;
    z-index: 20;
    margin-right: -5px;
    position: relative;
    height: 17px;
    display: inline-block;
    background-color: #5A5A5A;
    /*-webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;*/
}

.actionStripRight {
    color: #FFF;
    z-index: 20;
    margin-left: -4px;
    position: relative;
    height: 17px;
    display: inline-block;
    background-color: #5A5A5A;
    /*-webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;*/
}

.actionStrip.ng-hide-add {
    -webkit-animation:0.25s hide_right linear; 
    animation:0.25s hide_right linear; 
}

.actionStrip.ng-hide-remove { 
    -webkit-animation:0.25s show_right linear; 
    animation:0.25s show_right linear; 
}

@-webkit-keyframes show_right {
  from { left:-26px;opacity:1; }
  to { left:0; opacity:1; }
}
@keyframes show_right {
  from { left:-26px;opacity:1; }
  to { left:0; opacity:1; }
}

@-webkit-keyframes hide_right {
  from { left:0;opacity:1; }
  to { left:-26px; opacity:1; }
}
@keyframes hide_right {
  from { left:0;opacity:1; }
  to { left:-26px; opacity:1; }
}

.actionStripItem {
    margin: 0 5px;
    cursor: pointer;    
}

.prefixSign {
    margin: 0 5px;
}

.prefixSignLeft {
    margin: 0 5px 0 0;
}

.itemLabel {
    display: block;
    margin: 2px 0;
    cursor: pointer;
    height: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    vertical-align: top;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FFF),to(#DEDEDE));
    background-image: -webkit-linear-gradient(top,#FFF,#DEDEDE);
    background-image: linear-gradient(top,#ffffff,#dedede);
    border: #CCC solid 1px;
    border-radius: 3px;
    outline: none;
    font: normal normal normal 11px/1.7 "Helvetica Neue",Arial,sans-serif;
    padding: 0 3px 0 0;
}

.itemLabel:hover, .itemLabel:active {
    border-color: #BBB;
    background-color: #D9D9D9;
    background-image: -webkit-linear-gradient(#F8F8F8,#D9D9D9);
    background-image: linear-gradient(#F8F8F8,#D9D9D9);
    box-shadow: none;
}

.inputDatePicker {
    cursor: pointer !important;
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}


.monthlyRep {
    position: relative;
    margin-top: -20px;
}

.monthlyRep-users {
    position: absolute;
    display:inline-block;
    width:100%;
}

.monthlyRep-users.ng-hide-add {
    -webkit-animation:0.5s exit_left linear; 
    animation:0.5s exit_left linear; 
}

.monthlyRep-users.ng-hide-remove { 
    -webkit-animation:0.5s enter_left linear; 
    animation:0.5s enter_left linear; 
}

.monthlyRep-detail{
    position: absolute;
    display:inline-block;
    width: 100%;
}

.monthlyRep-detail.ng-hide-add {
    -webkit-animation:0.5s exit_right linear; 
    animation:0.5s exit_right linear; 
}

.monthlyRep-detail.ng-hide-remove { 
    -webkit-animation:0.5s enter_right linear; 
    animation:0.5s enter_right linear; 
}

@-webkit-keyframes enter_left {
  from { left:-100%;opacity:1; }
  to { left:0; opacity:1; }
}
@keyframes enter_left {
  from { left:-100%;opacity:1; }
  to { left:0; opacity:1; }
}

@-webkit-keyframes enter_right {
  from { left:100%;opacity:1; }
  to { left:0; opacity:1; }
}
@keyframes enter_right {
  from { left:100%;opacity:1; }
  to { left:0; opacity:1; }
}

@-webkit-keyframes exit_left {
  from { left:0;opacity:1; }
  to { left:-100%; opacity:1; }
}
@keyframes exit_left {
  from { left:0;opacity:1; }
  to { left:-100%; opacity:1; }
}

@-webkit-keyframes exit_right {
  from { left:0;opacity:1; }
  to { left:100%; opacity:1; }
}
@keyframes exit_right {
  from { left:0;opacity:1; }
  to { left:100%; opacity:1; }
}

.mainMenuHeaderTop{
    position: absolute;
    width: 100%;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: right;
}

.mainMenuHeaderTop > i{
    cursor: pointer;
    width: 20px;
    line-height: 22px;
    text-align: center;
}

.mainMenuHeaderTop > i.leftIcon{
    float: left;
}

.mainMenuHeaderTop > i.rightIcon{
    float: right;
    margin-right: 5px;
}

.mainMenuHeaderTop > i:hover{
    color: #FFFFFF;
}

.mainMenuHeaderBackground{
    height: 110px;
    background-size: cover;
    background-image: url('../backoffice/root/images/parallax-clients.jpg');
}

.mainMenuHeaderUserPic{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: -24px 0 0 5px;
}

.mainMenuHeaderUserName{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
    position: relative;
    margin: -48px 0 34px 53px;
    color: #FFF;
    font-size: 19px;
    text-shadow: 1px 1px 0 #000,
     -1px -1px 0 #000, 
     1px -1px 0 #000,
     -1px 1px 0 #000,
     1px 1px 0 #000;
}

.mainMenuItem{
    text-indent: 5px;
    height: 40px;
    line-height: 40px;
    color: #282828;
    border-width: 0 0 0 3px;
    border-color: #FFFFFF;
    border-style: solid;
}

.mainMenuItem:hover{
    cursor: pointer;
    border-color: #0579c6;
    background-color: rgba(219, 219, 219, 0.2);
    color: #000000;
}

.profileFormLabel, .standardFormLabel {
    margin-top: 10px;
}

.functionList .toggle {
    float: right;
}

.functionList>label {
    float:left;
    line-height: 34px;
}

.bottomButton {
    margin-top: 20px;
}

.fileDropAreaAvatar img {
    width: 148px;
    height: 148px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border: 3px solid #5a5a5a;
}

.fileUpload input.custom-file-input {
	position: absolute;
    width: 29px;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 24px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.uploadButton {
    position: absolute;
    margin: 8px 0px 0px 8px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.298039);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.hidden-noprint {
    display: none;
}

.hideIt {
    display: none;
}

.detailUsernameButton {
    display: table-row;
    text-align: center;
    color: #C5C3C3;
}

.detailUsernameButton.prevEnable:hover, .detailUsernameButton.nextEnable:hover {
    color: #000;
    background-color: #E8E7E7;
    cursor: pointer;
}

.input-inner-icon {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 34px;
    margin: 0 15px 0 0;
    font-size: 14px;
    cursor: pointer;
    color: lightgray;
}

.input-inner-icon:hover {
    color: gray;
}

.input-inner-icon i {
    line-height: 34px;
}

.headerColumn {
    visibility: hidden;
}

.headerColumn:hover {
    display: inline-block;
    visibility: visible;
}

.baseTable {
    margin: 0 15px;
    border-width: 1px 1px;
    border-style: solid;
    border-color: #65523A;
}

.baseTable > div:first-child {
    background-color: #808080;
}

.baseTable > div:last-child {
    border-width: 0;
}

.baseTable > div {
    background-color: #ffffff;
    margin: 0;

    overflow: hidden;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #65523A;

    font-size: 12px;
    line-height: 18px;
}

.baseTable > div.odd {
    background-color: #94BFDA;
}

.baseTable > div.selected {
    background-color: #D87373;
}

.baseTable > div > div:first-child {
    border: 0;
}

.baseTable > div > div {
    border-style: solid;
    border-color: #65523A;
    border-width: 0 0 0 1px;

    margin-bottom: -99999px;
    padding-bottom: 99999px;
    padding-left: 2px;
    padding-right: 2px;
}

.baseTable > div:first-child > div {
    color: #FFF;
    padding: 0 1px;
    text-align: center;

    margin-bottom: 0;
    padding-bottom: 0;
}














.baseTable2 {
    margin: 0 15px;
    /*border-width: 1px 1px;
    border-style: solid;
    border-color: #65523A;*/
}

.baseTable2 > div:last-child {
    border-width: 0;
}

.baseTable2 > div {
    background-color: #ffffff;
    margin: 0;

    overflow: hidden;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #b5b5b5;

    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
}

.baseTable2 > div.odd {
    background-color: #E5EDF2 /*#94BFDA*/;
}

.baseTable2 > div.selected {
    background-color: #D2CCCC;
}

.baseTable2 > div:hover > .rowHoverIndicator {
    background-color: #9B9B9B;
}

.baseTable2 > div > div {

    margin-bottom: -99999px;
    padding-bottom: 99999px;
    padding-left: 2px;
    padding-right: 2px;
}

.baseTable2 > div > div.rowHoverIndicator {
    width: 2px;
    padding-left: 0;
    padding-right: 0;
}














@media (max-width: 991px) 
{ 
    .logo {
        float: right;    
    }

    .logo img{
        width: 70px;
    }

    .menuRightPart-sm {
        margin: 0 15px 0 0;
    }

    .menuRightPart-sm i {
        line-height: 50px;
        margin: 0 10px;
        font-size: 26px;
        color: #C4C4C4;
        cursor: pointer;
        text-align: center;
        width: 15px;
    }

    .navbar-header {
        margin-right: -15px !important;
        margin-left: -15px !important;
        float: none !important;
    }

    .reportColumn {
        border-width: 0;
    }

    .dateRow {
        width: 100%;
    }

    .dateRowWorkDay {
        display: inline-block;
        background-color: #E2E2E2;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #C7C5C5;
    }

    .reportRow {
        min-height: 60px;
        padding: 0 0 5px;
    }

    .mr_affixToolContainer.affix, .mr_affixToolContainer.affix-top {
        display: inline-block;
        z-index: 1031;
        background-color: rgba(0, 0, 0, 0);
    }

    .mr_affixToolContainer.affix div.container-header, .mr_affixToolContainer.affix-top div.container-header {
        border-width: 0;
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 10px;
    }

    .signAffix {
        margin: 0 0 5px 5px;
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    
}

@media print {
    .monthlyRep-detail {
        width: 540px;    
    }

    .cellHeaderColumnRight, .cellHeaderColumnLeft, .reportBadgeContainer, .reportColumn {
        font-size: 10px;
        line-height: 10px;
    }

    .body-content, .login-title {
        margin: auto;
    }

    .login-title {
        font-size: 16px;
    }

    .reportColumn {
        width: auto;
        line-height: 14px;
    }

    .reportBadge {
        height: 14px;
        margin: 0;
    }

    .reportRow {
        min-height: 17px;
        padding: 0;
    }

    .reportBadgeContainer, .noteContainer {
        height: 12px;
        line-height: 12px;
        /*top: -1px;*/
        position: relative;
        vertical-align: middle;
        text-align: right;
        margin-top: 0;
        width: 100%;
    }

    .reportHolidayRow {
        background-color: #ebebeb !important;
    }

    .reportSummaryRow {
        line-height: 14px;
    }

    .dateRow {
        display: inline-block;
        width: 165px;
        font-size: 10px;
        line-height: 12px;
        vertical-align: middle;
    }

    .input-group-addon, .form-control {
        font-size: 10px; 
        border-width: 0;   
    }

    .form-control {
        height: 24px;
    }

    .dateRowWorkDay {
        border-width: 0;
    }

    .detailUserName {
        font-size: 12px;
    }

    .form-group {
        margin-bottom: 5px;
    }

    body {
        padding-top: 20px;
        font-size: 8px;
        line-height: 8px;
    }

    h4 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .actionStripRight {
        height: 0;
    }

    .actionStripLeft {
        height: 16px;
    }

    .highlightThis {
        font-weight: bold;
    }

    .hidden-print {
        display: none;
    }

    .hidden-print-force {
        display: none !important;
    }

    .col-print-xs {
        width: 75px;
    }

    .col-print-sm {
        width: 100px;
    }

    .col-print-md {
        width: 150px;
        margin-right: 10px;
    }

    .col-print-lg {
        width: 175px;
        margin-right: 10px;
    }

    .col-print-xl {
        width: 175px;
        margin-right: 15px;
    }

    .visible-print-block {
        display: block;
    }
}