<div ng-controller="authentication">
    <h3 class="login-title login-control">Login area riservata</h3>
    <form name="loginForm" novalidate>
        <fieldset>
            <div class="row row-centered">
                <div class="form-group col-xs-12 col-md-4 login-group">
                    <input required class="login-control form-control" type="text" ng-model="username" placeholder="Username" />
                </div>
            </div>
            <div class="row row-centered">
                <div class="form-group col-xs-12 col-md-4 login-group">
                    <input required class="login-control form-control" type="password" ng-model="password" placeholder="Password" />
                </div>
            </div>
            <div class="row row-centered">
                <div class="form-group col-xs-12 col-md-4 login-group">
                    <button ng-hide="loginForm.$invalid" class="login-control btn btn-info" type="button" style="margin-top: 20px; float:right;" ng-click="authenticate()">Login</button>
                    <button ng-show="loginForm.$invalid" class="login-control btn btn-info" type="button" style="margin-top: 20px; float:right;" disabled="disabled">Login</button>
                    <!--<input class="login-control btn btn-info" type="button" value="Login" ng-click="authenticate()" />-->
                </div>
            </div>
        </fieldset>
    </form>
</div>
